<div class="topic_tip">
    <h2 class="title">统计信息</h2>
    <span class="body help=block">
    <ul>
	<li>会员:<strong> <%= @users_count %></strong> 人</li>
	<li>帖子数:<strong> <%= @topics_count %></strong> 个</li>
	<li>回帖数:<strong> <%= @comments_count %> </strong> 条</li>
    </ul>
    </span>
</div>
