/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require social-share-button
 *= require_tree .
 */
$font-size-base: 15px;
@import "bootstrap";
@import "highlight";
@import "markdown";
@import "topics";
.markdown-area {
  .file-upload input[type=file]{
    position: absolute;
    width: 100%;
    margin-top: 0;
    bottom: 0;
    cursor: pointer;
    }
  }
body{
  background-color:#eee;
  }
.navbar {
  min-height:8px;
  background-color:white;
  border-color:rgba(153, 153, 153, 0.4);
  height:41px;
  line-height:40px;
  }

.navbar-header{
  width:100%;
  }
.new-post{
  margin-left:40%;
  margin-top:-2.8em;
  }
.website-links{
  margin-left:6em;
  a {
    margin-left:1em;
    text-decoration:none;
    color:#888;
    &:hover {
      color:black;
      }
    }
  }
    
.navbar-nav {
  margin-top:-40px;
  margin-left:80%;
    a{
        color:#444 !important;
        display:block;
        float: none;
        text-decoration:none;
	&:hover{
	  color:black !important ;
	  text-decoration: none;
        }
     }
 }
.dropdown-menu{
  li{
     a{
       &:hover{     
      background:#038543;
      color:white !important;
      }
    }
  }
  }
.list-group-item-heading{
  a{
    color:rgb(94, 49, 67);
    }
  }
nav{
  a{	
    color:#0069D6;
    &:hover{
      color:#0069D6;
    }
  }
  }
.pagination{
  margin-left:30%;
  background:#f5f5f5;
  margin-bottom:3em;
  }
.panel-heading {
  background:#f5f5f5;
  h1{
    font-size:22px;
    font-weight: bold;
    }
  }
.panel-heading-comments{
  height:35px;
  h3{
    margin-top:0;
    font-size:16px;
    color:#999;
    }
  }
.settings-profile{
  .container{
    background:white;
    width:55%;
    margin-top:2em;
    padding-bottom:2em;
    margin-bottom:2em;
    .profile-heading{
      margin-bottom:1em;
      border-bottom:1px solid #bbb;
      }
    }
  }
.main {
  .container{
    padding-bottom:2em;
    margin-top:4em;
    background:white;
    width:40%;
  }
  textarea{ 
    resize: vertical;
    }
  }
.signup-heading{
  margin-bottom:1em;
  border-bottom:1px solid #bbb;
  }
.login-heading{
  margin-bottom:1em;
  border-bottom:1px solid #bbb;
  }
.main-post{
  textarea{
    height:310px;
  }
  .container{
    background:white;
    width:50%;
  }
}
.list-index{
  padding-left:4em;
  margin-top:-3em;
  }
.root-index{
  margin-top:3em;
  }
.post-personal{
  padding-top:17px;
  padding-bottom:17px;
  }
.comment-topic{
  margin-left:50em;
  margin-top:-3em;
  }
.comment-view{
  a{
    color:#888;
    font-weight: bold;
    text-decoration: none;
    &:hover{
      color:#333;
      }
    }
  .text-muted{
    margin-left:4em;
    margin-top:-3em;
    }
  .comment-body{
    padding-top:1em;
    margin-left:4em;
    }
  }
.topic-share{
  margin-left:1em;
  padding-bottom:1em;
  }
.info{
  font-size:12px;
  }
.topic-show{
  padding-top:0.5em;
  }
.user-show-information{
  .information-container{
    .container{
      padding-left:10px;
      background:white; 
      margin-top:3em;
      margin-left:200px;
      width:50%;
      .information{
        margin-top:2em;
        ul{
          list-style: none;
	  li{
	    line-height: 180%;
	    width:250%;
	    label{
	        text-align:right;
	        margin-right:8px;
	        color: #999;
	        width: 100px;
	        font-size: 12px;
	        }  
 	     }
          }
        }
      .user-profile-avatar{
          margin-top:2em; 
          padding-left:4em;
          }  
      } 
    }
    .container{
      width:50%;
      margin-left:200px;
      margin-bottom:3em;
      .title{
	background:#f5f5f5;
	font-size:20px;
	color: #666;
	padding-top:0.5em;
	padding-bottom:0.5em;
	margin-bottom:0;
	}
     }
  }
.topic-tool{
  margin-top:-2em;
  padding-right:2em;
  a{
    color:#888;
    text-decoration: none;
    padding-left:1em;
    &:hover{
      color:#333;
      }
    }
  }
