/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
$font-size-base: 15px;
@import "bootstrap";
@import "jquery.atwho";
@import "highlight";
@import "markdown";
@import "topics";
@import "social-share-button";
@import "admin";
body{
  background-color:rgba(92, 184, 92, 0.38);
  }
.navbar {
  min-height:8px;
  background-color:white;
  border-color:rgba(153, 153, 153, 0.4);
  height:41px;
  }
.navbar-logo{
  float:left;
  }
.new-post{
  display:block;
  float:right;
  a{
    line-height:15px;
    margin-top:4px;
    }
  }
.navbar-logo{
  font-size:26px;
  a {
    text-decoration: none;
    color:#038543 ;
    &:hover{
      text-decoration: none ;
      color:green ;
      }
    }
  }
.website-links{
  line-height:40px;
  margin-left:6em;
  float:left;
  a {
    margin-left:1em;
    text-decoration:none;
    color:#888;
    &:hover {
      color:black;
      }
    }
  }
.admin-top{
  .active{
    a{
      color: white;
      &:link{	    
        background-color:white !important;
        }
      }
    }
  }
    
.navbar-nav {
   margin-top:-9px; 
    a{
        color:#444 !important;
        display:block;
        text-decoration:none;
	&:hover{
	  color:black !important ;
	  text-decoration: none;
        }
     }
   .badge{
     max-width:30px;
     border-radius:0;
     border: 1px solid #cccccc;
     background:#f7f7f7;
     color: #aaa;
   }
   .number{
     color:#f7f7f7;
     background:#d71900;
     }
   .notification-number{
     }
   .open{
     .dropdown-toggle{
       background:white !important;
       }
     }
 }
.current-user-username{
  font-size: 14px;
  a {
    padding-bottom:10px !important;	  
    &:focus{
      background-color:white !important; 
      }
    }
  }
.dropdown-menu{
  .active{
    a{
      background: #038543 !important; 
      color:white !important;
      &:hover{
        color:white !important;
	}
      }
    }
  min-width: 130px;
  .divider{
    margin-top:3px;
    margin-bottom:3px;
    }
  li{ 
    height:24px;
     a{
       font-size: 13px;
       padding-top:3px;
       padding-bottom:3px;
       height:24px;
       &:hover{     
         background:#038543 !important;
         color:white !important;
      }
    }
  }
  }
.list-group-item-heading{
  a{
    color:rgb(94, 49, 67);
    }
  }
nav{
  a{	
    color:#0069D6;
    &:hover{
      color:#0069D6;
    }
  }
  }
.pagination{
  margin-left:30%;
  background:#f5f5f5;
  margin-bottom:3em;
  }
.panel-heading {
  background:#f5f5f5;
  h1{
    font-size:22px;
    font-weight: bold;
    }
  }
.panel-heading-comments{
  height:35px;
  h3{
    margin-top:0;
    font-size:16px;
    color:#999;
    }
  }
.settings-profile{
  .container{
    background:white;
    width:55%;
    margin-top:2em;
    padding-bottom:2em;
    margin-bottom:2em;
    .profile-heading{
      margin-bottom:1em;
      border-bottom:1px solid #bbb;
      }
    }
  }
.main {
  .container{
    padding-bottom:2em;
    margin-top:4em;
    background:white;
    width:40%;
  }
  textarea{ 
    resize: vertical;
    }
  }
.signup-heading{
  margin-bottom:1em;
  border-bottom:1px solid #bbb;
  }
.submit-box{
  background-color: #f9f9f9;
  padding:13px 13px 14px 13px;
  }
.login-heading{
  margin-bottom:1em;
  border-bottom:1px solid #bbb;
  }
.main-post{
  textarea{
    height:400px;
    font-size:13px;
    }
    .container{
      margin-bottom:2em;
      .content{
	background:white;
	padding:1em;
	.topic-title{
	  margin-top:0; 
	  font-size:18px;
	  margin-bottom:9px;
	  }
	.node-select{
          font-size:13px;
	  .form-control{
	    padding-top:0;
	    padding-bottom:0;
	    height:30px;
	    }
	  }
	.title{
	  input{
            font-size:12px;
	    height:30px;
    	    }
	  }
        }
    }
  }
.sidebar{
  background:white;
  }
.topic_tip{
  .title{
    margin-top:0;
    background:#f5f5f5;
    font-size:12px;
    color: #666;
    border-bottom: 1px solid #ddd;
    text-align:center;
    padding: 10px 10px 8px;
    }
    .body{
      padding-bottom:3px;
      padding-right:8px;
      font-size:13px;
      }
  }
.list-index{
  padding-left:4em;
  margin-top:-3em;
  }
.post-personal{
  padding-top:17px;
  padding-bottom:17px;
  }
.topic-body-show{
  .list-group-item{
    border:none;
    }
  }
.comment-topic{
  margin-top:-3em;
  }
.comment-view{
  a{
    color:#888;
    font-weight: bold;
    text-decoration: none;
    &:hover{
      color:#333;
      }
    }
  .text-muted{
    margin-left:4em;
    margin-top:-3em;
    }
  .comment-body{
    padding-top:1em;
    margin-left:4em;
    }
  }
.comment-action{
  height:30px;
  }
.list-group-computer{
  .list-group-item{
    border-left:none;
    border-right:none;
    }
  textarea{
    height:300px;
    font-size:13px;
    }
  }
.topic-share{
  margin-left:1em;
  padding-bottom:1em;
  }
.info{
  font-size:12px;
  .node{
    background:#f5f5f5;
    }
  }
.topic-show{
  padding-top:0.5em;
  }
.user-show-information{
  .information-container{
    .container{
      padding-left:10px;
      background:white; 
      margin-top:3em;
      margin-left:200px;
      width:50%;
      .information{
        margin-top:2em;
        ul{
          list-style: none;
	  li{
	    line-height: 180%;
	    width:250%;
	    label{
	        text-align:right;
	        margin-right:8px;
	        color: #999;
	        width: 100px;
	        font-size: 12px;
	        }  
 	     }
          }
        }
      .user-profile-avatar{
          margin-top:2em; 
          padding-left:4em;
          }  
      } 
    }
    .container{
      width:50%;
      margin-left:200px;
      margin-bottom:3em;
      .title{
	background:#f5f5f5;
	font-size:20px;
	color: #666;
	padding-top:0.5em;
	padding-bottom:0.5em;
	margin-bottom:0;
	}
     }
  }
.topic-tool{
  margin-top:-2em;
  padding-right:2em;
  a{
    color:#888;
    text-decoration: none;
    padding-left:1em;
    &:hover{
      color:#333;
      }
    }
  }
.notifications{
  padding:10px;
  .notifications-tool{
    padding-bottom:10px;
    background:white;
    .btn-danger{
      margin-top:0;
      a{
        color:white;
	text-decoration:none;
        }	
      }
    .pull-right{
      margin-top:12px;
      font-size:14px;
      color:#333;
      font-weight: bold;
      margin-right:20px;
      } 
    }
    .list-group-item{
      border-left:none;
      border-right:none;
      }
  }

