// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-topic .markdown-area{
	textarea {
	  height: 12em;
  }

  .preview{
	  min-height: 12em;
  }
  }
article{
  img {
    width:100%;
    }
  }
